<h1>Add new song</h1>
<form method="POST" action="/songs">
<p>Song artist: <input type= "text" name="artist_name"></p>
<p>Song title: <input type= "text" name="song_title"></p>
<button type="submit" id="submit">Submit</button>
<p></form>


# <!-- <p>Genres<p>

# <% Genre.all.each do |e| %>
# <ul><%= e.name %><input type= "checkbox" name="genres" value="##{e.name}"></ul>
# <% end %>
# 
# 